<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_AuthenticationService" maxBufferPoolSize="2147483647"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_OsbleService" maxBufferPoolSize="2147483647"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_AssignmentSubmissionService" />
                <binding name="BasicHttpBinding_UploaderWebService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://osble.org/Services/AuthenticationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AuthenticationService"
                contract="OsbleServiceReference.AuthenticationService" name="BasicHttpBinding_AuthenticationService" />
            <endpoint address="http://osble.org/Services/OsbleService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_OsbleService"
                contract="ServiceReference1.OsbleService" name="BasicHttpBinding_OsbleService" />
            <endpoint address="http://osble.org/Services/AssignmentSubmissionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AssignmentSubmissionService"
                contract="ServiceReference2.AssignmentSubmissionService" name="BasicHttpBinding_AssignmentSubmissionService" />
            <endpoint address="http://osble.org/Services/UploaderWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_UploaderWebService"
                contract="Uploader.UploaderWebService" name="BasicHttpBinding_UploaderWebService" />
        </client>
    </system.serviceModel>
</configuration>